@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(OpenSans.ttf) format('truetype');
}
body {
  background: #eceff1;
  width: 100%;
  margin: 0 auto;
}
.center {
  display: table;
  width: 100%;
  height: 100vh;
}
#social-site {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
}
#social-site .social {
  padding-left: 0px;
}
#social-site li {
  display: inline-block;
}
#social-site li a {
  color: #666762;
  border-radius: 6px;
  list-style-type: none;
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  padding: 1%;
  border: 1px solid #666762;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 20px;
  transition: ease 0.3s;
}
#social-site li a:hover {
  color: #313130;
  border: 1px solid #313130;
}
.social:hover > li {
  opacity: 0.5;
}
.social:hover > li:hover {
  opacity: 1;
}
